:root {
  --secondary-color: #2e9da4;
  --color-blue: #5CA7FF;
  --color-blue-hover: #5091dc;
  --background-grey: #E7E7E7;
  --color-purple:#B589E0;
  --yellow-color:#FFDD65;
  --var1: #2A7576;
  --var2:#3EC4D5;
  --var3: #E4FAFC;
  --var4:#313439;
  --var2-1:#F5F5F5;
  --var2-2:#0BBEF2;
  --var2-3: #252B3B;
  --var3:#E6E6E7;
  --var3-2: #2BA7E2;
  --var3-3:#101524;
  --var3-4:#E5E5E5;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
} 

h1, h2, h3,h5,h6  {
  font-family: var(--heading-font-family);
  text-align: center;
  margin-top: 0px;
}
h1{
  font-size: 92px ;
  color: white;
  font-weight: bold;
  }
h2{
  font-size: 48px;
}
h5{
  font-family: var(--default-font-family);
  opacity: 70%;
}
h4{
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 32px;
}
h6 {
  color: var(--color-blue);
  font-size: 22px ;
  font-weight: 900 ; 
  line-height: 1.5;
  font-family: var(--default-font-family);
}

p {
  opacity: 70%;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.nav-link.active{
    color: var(--color-blue) !important;
}
.nav-style{
  display: flex;
  justify-content: end;
  padding-top: 16px;
  padding-bottom: 16px;
}
.bg-dark{
  background: black !important;
  opacity: 95%;
}
.hero {
  box-sizing: border-box;
  text-align: center;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.78) 100%), url(/images/back-home.png);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(/images/back-home.png);  */
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  padding: 160px 0px;
}

.hero-title{
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  font-weight: bold;
  border: 1px solid black;
  padding-bottom: 70px;
  padding: 30px 0px;
}
.hero p {
  opacity: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 2;
  color: white;
    font-weight: normal;
}
.hero h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0px;
  color: white;
}
.hero a {
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 600px;
  font-size: 18px;
  color: white;
}

.btn-branding{
  border-radius: 4px;
  background: var(--color-blue);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 2px solid var(--color-blue);
  box-shadow: 2px 2px 31px rgba(0, 0, 0, 0.2);
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); */
}
.projects-link{
  background: var(--color-blue);
  border: 2px solid var(--color-blue);
  margin: 0;
  padding: 0;
    
}
.projects-link a{
    color: white;
    display: block;
    font-size: 18px;
    padding: 5px 0px;
    text-decoration: none;
    text-align: center;
}
.projects-link:hover {
  background: white;
  color: black;
  border: 2px solid black;
  font-size: 18px;
}
.projects-link a:hover {
  
  color: black;
}
.btn-branding:hover{
  background: white;
  border: 2px solid black;
  color: black;
}

.text-project{
  padding: 20px 20px;
}
.btn-learn-more{
    color: var(--color-blue);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 0px;
}
.btn-learn-more:hover{
    color: var(--color-purple);
}
.picture-part{
  background-color: var(--background-grey);
}
.img-homepage{
      filter: grayscale(100%);
}
.img-homepage:hover{
        filter: none;
        transform: scale(102%);
}
.about-section{
  padding: 100px 0px;
}
.about-section h2{
  margin-top: 30px;
}
.tech-skills-description{
  margin: 0px;
}
.contact-content {
  padding: 30px 30px;
}
.contact-content h2{
  font-size: 62px;
}
.bg-contact {
  background-image: url("https://img.freepik.com/free-photo/creative-flat-lay-photo-workspace-desk_7861-978.jpg?w=1480&t=st=1650832315~exp=1650832915~hmac=1763d4efd7f9df99dfc41caae933472d49ebad768758c3fcee85abfccde4af4b");
  /* height: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
}
.icon-content{
  color: var(--color-blue);
}
.media a{
  text-decoration: none;
  font-size: 20px;
  color: var(--color-blue);
}
.media a:hover {
  text-decoration: underline;
  color: var(--color-purple);
}
.media p{
  font-size: 20px;
  opacity: 100;
  color: var(--color-blue);
}
.media p:hover{
  color: var(--color-purple);
}
.footer-icon {
  color: white;
}
.footer-icon:hover{
  color: var(--color-blue);
}

.footer p{
  color: white;
  
}
@media (max-width: 960px){
  h1{
    font-size: 52px;
  }
  h2, .contact-content h2{
    font-size: 36px;
  }
  .contact-content h2 {
      margin: 0;
    }
  h4 {
    font-size: 24px;
  }
  .text-project {
      padding: 0px 10px;  
    }
  .hero {
      padding: 60px 0px 60px 0px;
    }
  .btn-branding{
      padding: 10px 20px;
      font-size: 14px;
    }
  .hero h2{
      font-size: 32px;
    }
  .hero p{
    font-size: 18px;
  }
  .about-section {
    margin: 0px 20px;
  }
  .contact-content{
      padding: 10px 10px;
    }
 .contact-content a, p{
    font-size: 18px;
 }
  .tech-skills-description {
      font-size: 9px;

    }
}